/* Fony family, with fallback if font is not installed on the system */
body {
    font-family: Open Sans, Sans Serif;
}

/* Main text column width */
.wp-block {
    max-width: 900px;
}
/* Text block paragraph font size */
.wp-block p {
    font-size: 18px;
}

/* Width of "wide" blocks - matches content wrapper width */
.wp-block[data-align="wide"] {
    max-width: 1280px;
}

/* Width of "full-wide" blocks - you need some CSS wizardry to get these blocks to extend outside the wrapper */
.wp-block[data-align="full"] {
    max-width: none;
}