@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/*This is for my scrollbar*/
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

*::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

*::-webkit-scrollbar-thumb {
  background-color: #282d30; }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'century gothic', Arial, Helvetica, sans-serif;
}

body,html {
  background-color: #fcfcfc;
}
body.has-left-bar{
  padding-left: 250px;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: #eef1f8;
}
body.has-top-bar .wrapper {
    padding-top: 150px;
    background: #fcfcfc;
}
/*-------------Sidemenu-------------------------*/
.sidebar {
  width: 250px;
  height: 100%;
  background: #282d30;
  padding: 60px 30px 30px 30px;
  position: fixed;
  transition: 0.5s;
  left: 0;
  z-index: 999;
}

.sidebar ul {
  padding-top: 4rem;
}

.sidebar ul li {
  padding: 16px;
}

.sidebar ul li a {
  color: #fcfcfc;
  display: block;
  font-size: 14px;
  transition: 0.3s;
}

.sidebar ul li a .fas {
  width:20px;
}

.sidebar ul li:hover {
  background-color: #1097c5;
}

.sidebar ul li:hover a {
  color: #fff;
}
.sidebar-logo{
  width: 100%;
  margin-top: 40px;
}

/*................This is for mobile navigation...............*/

.mobile-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282d30;
  overflow-x: hidden;
  transition: 0.1s;
  z-index: 1000;
}


.mobile-sidenav ul {
  padding-top: 4rem;
}

.mobile-sidenav ul li {
  padding: 14px;
}

.mobile-sidenav ul li a {
  color: #fcfcfc;
  display: block;
  font-size: 14px;
  transition: 0.3s;
}

.mobile-sidenav ul li a .fas {
  width: 25px;
}

.mobile-sidenav ul li:hover {
  background-color: #1097c5;
}

.mobile-sidenav ul li:hover a {
  color: #fff;
}
.mobile-sidenav-logo{
  width: 100%;
  margin-top: 40px;
}


.mobile-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.mobile-sidenav a:hover {
  color: #f1f1f1;
}

.mobile-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.logo-section{
  width: 100%;
  display: block;
  line-height: 1.2;
  vertical-align: middle;
  padding: auto;
}
.logo-section > img:nth-child(1){
  width: 80%;
  float: left;
}
.logo-section > img:nth-child(2) {
  height: 20px;
  float: left;
  width: 10%;
  display: inline-block;
  line-height: 1.2rem;
  vertical-align: middle;
  margin-top: 9px;
  margin-left: 12px;
}

.shownav{
  width: 250px;
  padding: 60px 20px 20px 20px;
}


/*................This is for mobile navigation...............*/

.header {
  width: 100%;
  z-index: 888;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  min-height: 230px;
  background: #1097c5;
  color: #fff;
}
/*---------------------Top menu----------------------------------------*/
.menuleft-section {
  margin: 15px 20px;
  float: left;
  max-width: 50%;
  display: flex;
  align-items: center;
}

.menuright-section {
  margin: 0px 20px;
  float: right;
  max-width: 50%;
  transition-property: width;
  transition-duration: 2s;
  display: flex;
  position: relative;
  align-items: center;
}

.menuright-section span a {
  color: #fff !important;
}
.open-slide{
  display: none;
}
.open-slide span{
  font-family: 'century gothic';
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
}
.open-slide img{
  width: 20px;
  display: inline-block;
  line-height: 1.2rem;
  vertical-align: middle;
}
.page-title{
  width: 100%;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
}
.page-title h1{
  font-size: 25px;
}
.page-title ul{
  position: relative;
  padding: 10px 0;
}
.page-title ul li a {
  float: left;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.page-title img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.menuright-section img {
  margin-left: .3em;
  margin-right: .3em;
  height: 3em;
  width: 3em;
  border-radius: 18em;
  border: 3px solid #fff;
}
.menuright-section span{
  font-size: 15px;
  font-weight: 600;
}

.menuleft-section > span > svg{
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 20px;
    margin-left: auto;
    margin-right: 3px;
    top:2px;
}
.menuleft-section > span > a {
  display: none;
}
.Bottom-menu {
  position: relative;
  bottom: 0;
  height: 2.5rem;
  top: 100px;
  
}
.Bottom-menu ul li {
  width: 100%;  
}
.menu-con{
  width: 20px;
}

.Bottom-menu p {

}

.Bottom-menu p a {
  font-size: 12px;
  color: #fcfcfc;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 250px;
}


.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

/*this is for the master section*/
.content-wrapper {
  width: 100%;
  display: flex;
  padding: 0 auto;
  position: relative;
  z-index: 889;
}
.custom-page-container{
margin-top: 100px !important;
width: 100%;
display: block;
}

/*form styles*/
.login-section {
  display: inline-block;
  min-height: 300px;
  max-width: 360px;
  background-color: #ffffff;
  align-items: center;
  padding: 35px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: auto;
}
.login-section h4 {
  font-size: 1.086rem;
  color: #787878;
  line-height: 1.5;
}

.login-section form {
  margin: 0 auto;
}

.input-row {
  margin-top: 1.5rem;
}

.input-row label {
  width: 100%;
  font-size: 12px;
  color: #787878;
  font-weight: 600;
}

.input-row input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-row button {
  display: block;
  background-color: #1097c5;
  border: #1097c5;
  color: white;
  padding: 15px 20px;
  margin: auto;
  cursor: pointer;
  border-radius: 8px;
}

.input-row button:hover {
  opacity: 0.8;
}

.checkmark-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked~.checkmark {
  background-color: #1097c5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Forgot password section style*/
.fgt-pwd{
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  }
.fgt-pwd a{
  color: #787878;
}

/*----------------------Registration-------------------------------- */

.register-section {
  display: inline-block;
  max-width:760px;
  background-color: #ffffff;
  align-items: center;
  padding: 35px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: auto;
}

.left-sect{
  width: 49.5%;
  float:left;

  padding: 20px;
}
.right-sect{
  width: 49.5%;
  float:left;
  padding: 20px;
}

.v-line{
  border-left: 0.5px solid rgba(40,45,48,0.5);
  height: 225px;
  width: 0.5%;
  float: left;
  margin-top: 25px;
}
.register-section form {
  margin: 0 auto;
}


.register-section label {
  width: 100%;
  font-size: 12px;
  color: #787878;
  font-weight: 600;
}

.register-section input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.register-section button {
  display: block;
  background-color: #1097c5;
  border: #1097c5;
  color: white;
  padding: 15px 20px;
  margin: auto;
  cursor: pointer;
  border-radius: 8px;
}

.register-section button:hover {
  opacity: 0.8;
}

.register-footer{
  width: 100%;
  padding: 15px 20px;
  margin: 40px 0;
}
.register-footer h2{
  width: 100%;
  font-size: 1.286rem;
  color: #787878;
  text-align: center;
  line-height: 1.5;
  display: block;
}
.register-footer .st-date{
  width: 100%;
  color: #1097c5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 20px;

}
.register-footer .st-text{
  display: inline-block;
  text-decoration: none;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #787878;
}

/*----------------------Traning complete template----------------------- */

.data-container{
  width: 100%;
  display: flex;
  padding: 0 100px;
}
/*----------------------left side----------------------- */
.data-container .left-box{
  width: 30%;
  min-width: 300px;
  margin-top:120px;

}


/*----------------------right side----------------------- */
.data-container .right-box{
  width: 70%;
  margin-bottom: 40px;
}
.video-section{
  width: 100%;
}
.video-section img {
  width: 100%;
}

/*This are the style for botton video section*/
.video-bt-section{
  width:100%;
  display: flex;
  padding: 40px 0;
}


.video-bt-section .video-btn{
  justify-content: center;
  min-width: 150px;
}
.video-bt-section .video-btn ul{
  position: relative;
}
.video-bt-section .video-btn ul li a{
  float: right;
  color: #404140;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.video-bt-section .video-btn img{
  width: 15px;
  height: 15px;
  margin-left: 5px;
}


.video-content h1 {
  color: #404140;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 15px;

}

.video-content p{
  color: #404140;
  font-size: 15px;
  font-weight: 600;
  padding-right: 70px;
}

.video-content .btn1{
  color: #BFBFBF;
  font-size: 15px;
  font-family: segoe ui;
  font-weight: 600;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #BFBFBF;
  margin: 20px 0;
}
.btn_watched {
    color: #fcfcfc;
    font-size: 15px;
    font-family: segoe ui;
    font-weight: 600;
    padding: 8px;
    background-color: #49ba6e;
    border-radius: 20px;
    border: 1px solid #BFBFBF;
    margin: 20px 0;
}
/*Bottom buttons section*/
.footer-btn{
  padding-top: 20px;
  clear: both;
  width: 100%;
}


.footer-btn label{
  font-size: 15px;
  color: #7F8080;
  font-weight: 600;
}
.footer-btn button{
  width: 100%;
  padding: 8px;
  font-size: 15px;
  font-family: segoe ui;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #7F8080;
  border-radius: 20px;
  text-align: left;
  border: 1px solid #BFBFBF;

}
.btn-colored{
  font-family: segoe ui;
  font-size: 15px;
  font-weight: 600;
  background-color: #49BA6E !important;
  color: #ffffff !important;
  border: 1px solid #49BA6E !important;

}

.btn-colored:hover{
  background-color: #359253 !important;
  transition: 0.3s;
}
.right-box .fas{
  margin-right: 10px;
  float: left;
  height: 25px;
  display: flex;
  align-items: center;
}
/*----------------------left bubble ----------------------- */
.progress-bubble li{
  list-style-type: none;
  font-size: 16px;
  color: #787878;
  font-weight: 600;
}
.progress-bubble li a{
    color: #5d5d5d;
}
.progress-bubble li:before{
  content: '';
  width: 10px;
  height: 10px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid #a7a7a7;
  background-color: #a7a7a7;
  display: inline-block;
  text-align: center;
  margin: 15px 30px 0px 0px;
}
.progress-bubble li:after{
  content: '';
  position: absolute;
  height: 28px;
  width: 1px;
  margin-top: -65px;
  background-color: #a7a7a7;
  left: 105px;
  z-index: -1;
}

.progress-bubble p{
  margin-left: 47px;
  font-size: 14px;
  color: #5d5d5d;
}
.progress-bubble li:first-child::after{
  content: none;
}
.progress-bubble li.active:before{
  background-color: #1097c5;
  border: 1px solid #1097c5;
}
.progress-bubble li.active:after{
  background-color: #1097c5;
}
body > div > div.content-wrapper > div > div.left-box > div > ul > li p
{
  color: #a7a7a7;
  font-size: 12px;
  font-weight: 600;
  margin-left: 42px;
}

/*-----------All @ media queries for responsiveness of the site-----------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------..--*/


@media only screen and (max-width:1440px){



}



@media only screen and (max-width:1240px){
/*This is for the training-complete template*/
.left-box{
  min-width: 150px;
}
.right-box p {
    width: 100%;
  }
}

/*--------------------------------------------------------------------------*/

@media only screen and (max-width:1024px){
/*This is for the training-complete template*/
  .video-content p {
    padding-right:0px;
  }
  .video-content h1 {
    font-size: 25px;
  }

}

@media only screen and (max-width:968px){
/*This is for the training-complete template*/
  .left-box{
    display:none;
  }
  .data-container .right-box {
    width: 100%;
    transition: 0.6s all;
    transition-timing-function: ease;
  }
}

/*--------------------------------------------------------------------------*/
@media only screen and (max-width:768px){
/*This is for the training-complete template*/
  .wrapper {
    padding-top: 160px;
}
  .data-container {
    padding: 0 40px;
  }
  .video-bt-section {
    display: block;
  }
}
/*--------------------------------------------------------------------------*/
@media  only screen and (min-width:968px){
/*This is for the training-complete template*/
  .bottom-left-box{
    display: none;
  }
}
@media  only screen and (max-width:968px){
/*This is for the training-complete template*/
  .bottom-left-box{
    display: block;
  }

/*-------Bottom bubble ----------- */
  .right-box {
    margin-bottom: 20px;
  }
  .bottom-left-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed #a7a7a7;
    background-color: #f6f6f6;
    }

  .bottom-progress-bubble{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }
  .bottom-progress-bubble li a{
    list-style-type: none;
    height:2%;
    font-size: 14px;
    color: #787878;
    font-weight: 600;
    text-align: left;
    }
  .bottom-left-box ul li p{
    margin-left: 45px;
    color: #606060;
    }
    .bottom-progress-bubble li:before{
    content: '';
    width: 10px;
    height: 10px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #a7a7a7;
    background-color: #a7a7a7;
    display: inline-block;
    text-align: center;
    margin: 15px 30px 0px 0px;
    }
    .bottom-progress-bubble li:after{
    content: '';
    position: absolute;
    height: 25px;
    width: 1px;
    margin-top: -62px;
    margin-left: 5px;
    background-color: #a7a7a7;
    z-index: 1;
    }

    .bottom-progress-bubble li:first-child::after{
    content: none;
    }
    .bottom-progress-bubble li.active:before{
    background-color: #1097c5;
    border: 1px solid #1097c5;
    }
    .bottom-progress-bubble li.active:after{
    background-color: #1097c5;
    }

}

/*--------------------------------------------------------------------------*/
/*This is for mobile*/
@media screen and (max-width: 480px) {
  .open-slide{
    display: block;
  }
  .wrapper {
    width: 100%;
    transition: 0.5s;
  }
  .sidebar{
    display: none;
  }
  body.has-left-bar {
    padding-left: 0px;
    transition: 0.2s;

  }
  .menuleft-section > span {
    display: block;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
  }
  .left-box{
    display: none;
    transition: 0.3s all;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 40.25%;
    z-index: 900;
    justify-content: center;
    display: flex;
}

  .video-wrapper iframe {
    position: absolute;
    width: 75%;
    height: 100%;
}

}

/* Structure --------------------------------- */

.wp-block {
  max-width: 610px;
}

.wp-block[data-align="wide"] .wp-block[data-align="wide"],
.wp-block[data-align="full"] .wp-block[data-align="wide"] {
  max-width: 1200px;
}

.wp-block .wp-block[data-type="core/group"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]),
.wp-block .wp-block[data-type="core/cover"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]) {
  margin-left: auto;
  margin-right: auto;
  max-width: 610px;
}

.wp-block .wp-block[data-align="full"] {
  margin-left: 0;
  margin-right: 0;
}

*[data-align="right"] .wp-block-edit,
*[data-align="left"] .wp-block-edit {
  max-width: 50%;
}

.wp-block[data-align="wide"] {
  max-width: 1200px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

.editor-styles-wrapper .editor-rich-text__tinymce,
.editor-styles-wrapper .editor-rich-text__tinymce.mce-content-body {
  line-height: 1.5;
}

